* {
  padding: 0;
  margin: 0;
  text-align: center;
}

.mainButton {
  font-size: 24px;
  align-items: center;
  text-align: center;
  color: black;
  background-color: darkgreen;
  width: 200px;
  height: 50px;
  border: 1px solid;
}

.mainButton:hover {
  outline: 5;
}
